<h1> Welcome to Med Search </h1>
<br>
<h3> Search options </h3>
<h4> Last Name and State </h4>
    <%= form_with url: '/providers#index', method: :get, local: true do |f| %>
      <%= f.label :last_name_1, "Medical Provider's Last Name" %><br>
      <%= f.text_field :last_name_1 %><br>
      <%= f.label :state, "State" %><br>
      <%= f.text_field :state %><br>
      <%= f.submit "Search by Last Name and Location" %><br>
    <% end %>

<br><br>

<h4> First and Last Name </h4>
  <%= form_with url: '/providers#index', method: :get, local: true do |f| %>
  <%= f.label :last_name_2, "Medical Provider's Last Name" %><br>
  <%= f.text_field :last_name_2 %><br>
    <%= f.label :first_name, "Medical Provider's First Name" %><br>
    <%= f.text_field :first_name %><br>
    <%= f.submit "Search by Full Name" %><br>
  <% end %>
  <br><br>
  <h4> State and Specialty </h4>
    <%= form_with url: '/providers#index', method: :get, local: true do |f| %>
      <%= f.label :state_2, "State" %><br>
      <%= f.text_field :state_2 %><br>
      <%= f.label :specialty, "Medical Provider's Specialty" %><br>
      <%= f.text_field :specialty %><br>
      <%= f.submit "Search by Specialty" %>
    <% end %>
